body {
  background-color: rgb(180, 157, 203);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.StopWatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.btns {
  display: flex;
  gap: 20px;
}

.btns button {
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 18px;
  font-size: 18px;
}

.start {
  background-color: rgb(126, 245, 126);
}

.stop {
  background-color: rgb(245, 116, 116);
}

.reset {
  background-color: rgb(110, 199, 213);
}
